$blue: #32b6e6;
$text-grey: #717171;
$background-grey: #1d1d1d;
$hr-grey: #6363635a;

$max-width: 865px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$h1-size: 60px;
$h2-size: 40px;

$subtitle-size: 13px;
$text-xsmall: 10px;
$text-small: 12px;
$text-medium: 14px;
$text-large: 36px;
$banner-text: 30px;
$logo-text: 26px;

$spacing-xs: 15px;
$spacing-sm: 20px;
$spacing-md: 30px;
$spacing-lg: 40px;
$spacing-xl: 85px;

// MIXINS

@mixin btn($background, $color) {
  padding: 12.5px 35px;
  border: none;
  border-radius: 25px;
  background-color: $background;
  color: $color;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 10px;
}

@mixin flex-justify-center($direction) {
  display: flex;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flex-justify-align-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: $direction;
}

@mixin flex-justify-align-between($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-between-center($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}

@mixin flex-align($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  min-width: 320px;
  background-color: black;
}

.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

//HEADER/NAV

header {
  height: 700px;
  position: relative;
  @media only screen and (max-width: $sm) {
    height: 550px;
  }
}

.header-text {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 880px;
  padding: 0 15px;
  margin: 0 auto;
  p {
    margin: $spacing-sm 0;
    @media only screen and (max-width: $sm) {
      font-size: 9px;
    }
  }
  button {
    align-self: flex-start;
  }
  @media only screen and (max-width: $sm) {
    top: 100px;
  }
}

button {
  cursor: pointer;
}

nav {
  background-color: black;
  padding: 15px;
  max-width: 880px;
  margin: 0 auto;
  ul {
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      opacity: 0;
      margin-left: 0;
      max-height: 0px;
      overflow: hidden;
      visibility: none;
      width: 0px;
      &.active {
        opacity: 1;
        max-height: 250px;
        width: auto;
        overflow: visible;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: column;
        background-color: black;
        position: absolute;
        padding-left: 15px;
        padding-bottom: 10px;
        transition: all 0.5s ease-in;

        left: 0;
        top: 69px;
        width: 100%;
        z-index: 1000;
        li {
          display: block;
          padding: 10px 0;
          @media (max-width: $md) {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

.fa-circle {
  color: $text-grey;
  font-size: 4px !important;
  @media only screen and (max-width: $md) {
    display: none !important;
  }
}

li a {
  list-style: none;
  margin: 0 $spacing-sm;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 9px;
  color: white;
  a {
    text-decoration: none;
  }
}
ul a {
  text-decoration: none;
}

li p {
  text-decoration: none !important;
}

.logo-text {
  font-size: $logo-text;
  color: white;
  span {
    font-weight: bold;
  }
}

h1 {
  font-size: $h1-size;
  color: $blue;
  text-transform: uppercase;
  line-height: 60px;
  margin: 0;
  @media only screen and (max-width: $sm) {
    font-size: 40px;
    line-height: 40px;
  }
}

h2 {
  font-size: $h2-size;
  color: $blue;
  text-transform: uppercase;
  line-height: 45px;
  font-weight: 600;
}

hr {
  border: none;
  height: 0;
  border-top: 1px solid $hr-grey;
  width: 100%;
  margin: $spacing-sm 0;
}

.fa-chevron-right {
  margin-left: 5px;
  margin-top: 2px;
}

.fa-arrow-right {
  margin-left: 5px;
}

.subtitle-blue {
  color: $blue;
  font-size: $subtitle-size;
  margin-bottom: $spacing-xs;
}

.text-xsmall {
  font-size: $text-xsmall;
  color: $text-grey;
}

.text-small {
  font-size: $text-small;
  color: $text-grey;
}

.text-medium {
  font-size: $text-medium;
  color: $text-grey;
}

.text-medium-white {
  font-size: $text-medium;
  color: white;
}

.btn-blue {
  @include btn($blue, white);
}

.btn-blue-black {
  @include btn($blue, black);
}

.btn-white {
  @include btn(white, black);
}

.btn-black {
  @include btn(black, white);
}

.flex-justify-center {
  @include flex-justify-center(row);
}

.flex-justify-align-center {
  @include flex-justify-align-center(row);
}

.flex-justify-center-col {
  @include flex-justify-center(column);
}

.flex-justify-align-center-col {
  @include flex-justify-center(column);
}

.flex-justify-align-between {
  @include flex-justify-align-between(row);
}

.flex-justify-align-between-col {
  @include flex-justify-align-between(column);
}

.flex-align {
  @include flex-align(row);
}

.flex-align-col {
  @include flex-align(column);
}

//HERO SLIDE

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-pagination-bullet {
  border: 1px solid white;
}

.swiper-pagination {
  margin-bottom: 10px;
}

.slide1 {
  background: url("/images/slide1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-about {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/Banner1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 340px;
  margin-top: 69px;
}
.about-left,
.about-right {
  flex-basis: 50%;
}
// PROGRAMS

.section-programs,
.sections-classes,
.section-offer-two,
.section-trainers,
.section-prices,
.section-contact {
  padding: $spacing-xl 0;
}

.section-offer-two {
  @media only screen and (max-width: $md) {
    padding-bottom: 0;
  }
}

.programs-top,
.classes-top,
.about-two-top,
.trainers-top,
.prices-top,
.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: $spacing-xl;
  @media only screen and (max-width: $md) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 20px;
    text-align: center;
  }
  h2,
  p {
    flex-basis: 50%;
  }
}

.prices-top {
  @media only screen and (max-width: $md) {
    margin-bottom: 0;
  }
}

.programs-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  img {
    max-height: 220px;
    width: 100%;
    object-fit: cover;
  }
  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.image-text {
  font-size: $text-xsmall;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  background-color: $background-grey;
  margin-top: -7px;
}

// PROMO 1

.promo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 510px;
  img {
    max-height: 510px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .promo-left,
  .promo-right {
    flex-basis: 50%;
    height: 100%;
  }
  @media only screen and (max-width: $md) {
    display: flow-root;
  }
}

.promo-right {
  text-align: center;
  background-color: $blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $sm) {
    padding: 0 10px;
  }
}

.promo-title {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  line-height: 70px;
  @media only screen and (max-width: $sm) {
    font-size: 45px;
    line-height: 50px;
  }
}

.promo-left {
  @media only screen and (max-width: $md) {
    display: none;
  }
}

.promo-subtitle {
  font-size: 20px;
  color: white;
  font-weight: 200;
  margin: $spacing-md 0;
}

// CLASSES

.classes-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.classes-block {
  display: flex;
}

.classes-title {
  font-size: 10px;
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.classes-left,
.classes-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-grey;
  height: 225px;
  flex-basis: 50%;

  .text-xsmall {
    font-size: 9px;
    line-height: 15px;
  }
}

.classes-right {
  padding: 0 30px;
  @media only screen and (max-width: $sm) {
    flex-basis: 100%;
  }
}

.classes-block img {
  height: 225px;
  width: 100%;
  object-fit: cover;
}

.text-time {
  font-size: 10px;
  text-transform: uppercase;
  color: #787878;
  margin-top: 10px;
}

// OFFER

.section-offer {
  height: 510px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/images/Banner3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  p {
    text-align: center;
  }

  button {
    color: black;
    padding: 15px 35px;
    font-size: 12px;
  }

  .text-medium {
    margin: $spacing-sm 0;
    max-width: 65%;
  }

  .text-large {
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    line-height: 50px;
    @media only screen and (max-width: $sm) {
      font-size: 30px;
    }
  }
}

// ABOUT TWO

.about-two-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  img {
    height: 178px;
    width: 100%;
    object-fit: cover;
  }

  .title-text-small {
    font-size: 11px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 10px 0;
  }

  .text-xsmall {
    text-align: center;
    max-height: 45px;
  }
  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.about-two-block div {
  background-color: $background-grey;
  padding: 10px 20px 30px 20px;
  margin-top: -7px;
  min-height: 135px;
  @media only screen and (max-width: $md) {
    min-height: 50px;
  }
}

//BANNER

.banner {
  height: 242px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("/images/Banner2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  i {
    color: white;
  }

  div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    margin: 0 80px;
  }
  @media only screen and (max-width: $md) {
    display: none;
  }
}

.banner-number {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin: 15px 0 0 0;
}

.banner-text {
  font-size: 10px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1px;
}

// TRAINERS

.trainers-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.trainers-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    max-height: 195px;
    width: 100%;
    object-fit: cover;
  }
}

.trainers-text-blue {
  font-size: 10px;
  font-weight: 600;
  color: $blue;
  text-transform: uppercase;
  margin-top: $spacing-sm;
}

.trainers-text-white {
  color: $text-grey;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
}

.trainers-icon {
  display: flex;
}

.fa-brands {
  margin: 0 10px;
  color: white;
}

// PROMO TWO

.promo-two {
  display: grid;
  align-items: center;
  height: 550px;
  background-color: $background-grey;
  grid-template-columns: 1fr 1fr;

  img {
    max-height: 550px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .promo-two-left,
  .promo-two-right {
    flex-basis: 50%;
    height: 100%;
  }

  @media only screen and (max-width: $lg) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}

.promo-two-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 10px;
  .text-large {
    font-size: 45px;
    text-transform: uppercase;
    color: $blue;
    font-weight: 600;
    line-height: 50px;
    @media only screen and (max-width: $sm) {
      font-size: 26px;
      line-height: 30px;
    }
  }

  @media only screen and (max-width: $md) {
    padding: 0 20px;
  }
}

.promo-two-title {
  font-size: 14px;
  color: white;
  font-weight: 300;
  margin: 40px 0 5px 0;

  span {
    font-size: 20px;
    color: $blue;
    font-weight: 300;
    margin-right: 15px;
  }
}

.promo-two-block-left,
.promo-two-block-right {
  display: flex;
  flex-direction: column;
  max-height: 280px;
  .text-xsmall {
    max-height: 60px;
  }
}

.promo-two-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  align-items: center;
  justify-content: center;
}

.promo-two-right {
  @media only screen and (max-width: $lg) {
    display: none;
  }
}

// PRICES

.prices-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  div {
    text-align: center;
    background-color: $background-grey;
    padding: 30px;
    button {
      display: inline-block;
    }
  }
  hr {
    margin: 10px 0;
    width: 100%;
  }
  button {
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 30px;
  }
  @media only screen and (max-width: $md) {
    grid-template-columns: 300px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }
}

.prices-title {
  color: $text-grey;
  font-size: 12px;
  text-transform: uppercase;
}

.prices-number {
  font-size: 30px;
  color: white;
  font-weight: 400;
}

.prices-small-subtitle {
  color: $text-grey;
  font-size: 8px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.prices-small-text {
  font-size: 9px;
  color: $text-grey;
  text-transform: none;
  margin-bottom: 0;
}

// TRIAL

.section-trial {
  height: 510px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/Trial.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trial {
  text-align: center;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  p {
    margin: 5px 0 25px 0;
  }
  button {
    text-transform: uppercase;
    font-size: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      height: 35px;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 10px;
      border: none;
      padding-left: 15px;
      font-size: 9px;
      font-family: "Poppins", sans-serif;
    }
    textarea {
      width: 100%;
      border-radius: 5px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-top: 10px;
      border: none;
      font-size: 9px;
      font-family: "Poppins", sans-serif;
    }
  }
  @media only screen and (max-width: $sm) {
    padding: 0px 10px;
  }
}

// CONTACT

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  i {
    color: $blue;
    margin-bottom: 30px;
  }
  hr {
    margin: 0;
  }
}

.contact-title {
  font-size: 10px;
  color: white;
}

// FOOTER

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.mobile-bar {
  margin-left: 0px;
  padding: 0.5em 0em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  cursor: pointer;
  @media (max-width: $md) {
    display: flex;
    margin-left: -25px;
  }
  &.active {
    padding-left: 40px;
  }

  span {
    display: block;
    height: 2px;
    margin: 2px;
    width: 30px;
    background: $blue;
  }
  &:hover {
    span {
      background: $blue;
    }
  }
}

.mobile-bar {
  margin-left: 0px;
  padding: 0.5em 0em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  cursor: pointer;
  @media (max-width: 768px) {
    display: flex;
    margin-left: -25px;
    margin-right: 20px;
  }
  &.active {
    padding-left: 40px;
  }

  span {
    display: block;
    height: 2px;
    margin: 2px;
    width: 30px;
    background: $blue;
  }
  &:hover {
    span {
      background: $blue;
    }
  }
}
